# Environment
.env
.env.local
.env.production
.env.prod

# Node
node_modules/
dist/
build/

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/.pub-cache/

# Docker volumes (local dev)
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# GCP credentials (NEVER commit)
*.json
!apps/api/package.json
!apps/api/tsconfig.json
!apps/api/tsconfig.build.json
!apps/api/nest-cli.json
!apps/mobile/pubspec.lock
!packages/shared-types/package.json
